# Quiz Python

<li> Nama : Ananda Rafi Amanullah </li>
<li> Nim  : 1102213017 </li>
<li> Kelas: EL-45-07 (EL-44-G5) </li>

1. Install SK-Learn

In [2]:
pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\ananda\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\ananda\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ananda\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ananda\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ananda\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scikit-learn) (3.3.0)
Note: you may need to restart the kernel to use updated packages.

2. Check apakah SK-Learn sudah diinstall

In [4]:
pip list

Package                   Version
------------------------- ---------------
anyio                     4.3.0
argon2-cffi               23.1.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
asttokens                 2.4.1
async-lru                 2.0.4
attrs                     23.2.0
Babel                     2.14.0
beautifulsoup4            4.12.3
bleach                    6.1.0
certifi                   2024.2.2
cffi                      1.16.0
charset-normalizer        3.3.2
colorama                  0.4.6
comm                      0.2.1
contourpy                 1.2.0
cycler                    0.12.1
debugpy                   1.8.1
decorator                 5.1.1
defusedxml                0.7.1
et-xmlfile                1.1.0
executing                 2.0.1
fastjsonschema            2.19.1
fonttools                 4.49.0
fqdn                      1.5.1
h11                       0.14.0
httpcore                  1.0.4
httpx                     0.27.0
idna                      3.6
ipykernel                 6.29.3
ipython                   8.22.1
ipywidgets                8.1.2
isoduration               20.11.0
jedi                      0.19.1
Jinja2                    3.1.3
joblib                    1.3.2
json5                     0.9.17
jsonpointer               2.4
jsonschema                4.21.1
jsonschema-specifications 2023.12.1
jupyter                   1.0.0
jupyter_client            8.6.0
jupyter-console           6.6.3
jupyter_core              5.7.1
jupyter-events            0.9.0
jupyter-lsp               2.2.3
jupyter_server            2.12.5
jupyter_server_terminals  0.5.2
jupyterlab                4.1.2
jupyterlab_pygments       0.3.0
jupyterlab_server         2.25.3
jupyterlab_widgets        3.0.10
kiwisolver                1.4.5
MarkupSafe                2.1.5
matplotlib                3.8.3
matplotlib-inline         0.1.6
mistune                   3.0.2
nbclient                  0.7.4
nbconvert                 7.16.1
nbformat                  5.9.2
nest-asyncio              1.6.0
notebook                  7.1.1
notebook_shim             0.2.4
numpy                     1.26.4
openpyxl                  3.1.2
overrides                 7.7.0
packaging                 23.2
pandas                    2.2.1
pandocfilters             1.5.1
parso                     0.8.3
pillow                    10.2.0
pip                       24.0
platformdirs              4.2.0
prometheus_client         0.20.0
prompt-toolkit            3.0.43
psutil                    5.9.8
pure-eval                 0.2.2
pycparser                 2.21
Pygments                  2.17.2
pyparsing                 3.1.1
python-dateutil           2.8.2
python-json-logger        2.0.7
pytz                      2024.1
pywin32                   306
pywinpty                  2.0.13
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.1
QtPy                      2.4.1
referencing               0.33.0
requests                  2.31.0
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.18.0
scikit-learn              1.4.1.post1
scipy                     1.12.0
seaborn                   0.13.2
Send2Trash                1.8.2
six                       1.16.0
sniffio                   1.3.1
soupsieve                 2.5
stack-data                0.6.3
terminado                 0.18.0
threadpoolctl             3.3.0
tinycss2                  1.2.1
tornado                   6.4
traitlets                 5.14.1
types-python-dateutil     2.8.19.20240106
tzdata                    2024.1
uri-template              1.3.0
urllib3                   2.2.1
voila                     0.5.5
wcwidth                   0.2.13
webcolors                 1.13
webencodings              0.5.1
websocket-client          1.7.0
websockets                12.0
widgetsnbextension        4.0.10
Note: you may need to restart the kernel to use updated packages.

3. Buat Array 1 dimensi, isi dari array dibebaskan namun harus berupa integer atau float dengan menggunakan numpy.

In [15]:
import numpy as np

arr = np.array([1000, 3, 5.2, -2, 99])
print("Dimensi Array", arr.ndim)
print("Shape Array", arr.shape)
print(arr)

Dimensi Array 1
Shape Array (5,)
[1000.     3.     5.2   -2.    99. ]

4. Buatlah array 2 dimensi dengan  ukuran sesuai NIM dan keluarkan shapenya. NIM Ganjil 2x10, NIM Genap 3x10.

In [14]:
arr1 = np.array([[1, 3, 5.2, -2, 99,2,3.4,5.6,5,0],[100,3.09,3,6,6.5,7.7,8.5,2,8.0,6]])
print("Dimensi Array", arr1.ndim)
print("Shape Array", arr1.shape)
print(arr1[0])
print(arr1[1])

Dimensi Array 2
Shape Array (2, 10)
[ 1.   3.   5.2 -2.  99.   2.   3.4  5.6  5.   0. ]
[100.     3.09   3.     6.     6.5    7.7    8.5    2.     8.     6.  ]

5. Buatlah plot data dari **spesifik data array** yang ada dinomer 4. NIM Ganjil : kolom 0, NIM Genap :kolom 1

In [2]:
import matplotlib.pyplot as plt

# Contoh data array
data_array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Plot data array
plt.plot(data_array)
plt.xlabel('Indeks Data')
plt.ylabel('Nilai')
plt.title('Plot Data Array')
plt.grid(True)
plt.show()

NameError: name 'arr1' is not defined

6. Berapakah rata-rata, nilai maksimum, nilai minimum, median dari array yang kalian buat dengan menggunakan numpy?

In [29]:
import numpy as np

mean = np.mean(arr1)
max = np.max(arr1)
min = np.min(arr1)
median = np.median(arr1)
 
print('Nilai Rata Rata adalah : ', 
      mean)
print('Nilai Minimumnya adalah : ', 
      max)
print('Nilai maximumnya adalah ',
      min)
print('Nilai Minimumnya adalah : ', 
      median)

Nilai Rata Rata adalah :  13.6495
Nilai Minimumnya adalah :  100.0
Nilai maximumnya adalah  -2.0
Nilai Minimumnya adalah :  5.1

In [35]:
NameGanjil = "Khairulah Kodir" #NIM Ganjil
NameGenap = "Annisa Kodir" #NIM Genap

7. print nama terakhir dari variable diatas seperti "Hallo Mr. Kodir" atau "Hallo Mrs. Kodir"

In [36]:
nama = 'Hallo Mr.' + NameGanjil[10:]
nama

'Hallo Mr.Kodir'

8. Buatlah dataframe dari array 2D di nomer 4 dan berikan nama header setiap kolomnya. Tunjukkan shape dari dataframenya.

In [43]:
import pandas as pd

nol = {'1': 1, '2': 3, '3': 5.2,
'4': -2, '5': 99,'6':3.4,'7':3.4,'8':5.6,'9':5,'10':0}
angka = pd.Series(nol)
angka

satu = {'1': 100, '2': 3.09, '3': 3,
'4': 6, '5': 6.5,'6':7.7,'7':8.5,'8':2,'9':8.0,'10':6}
angka1 = pd.Series(satu)
angka1
#[1, 3, 5.2, -2, 99,2,3.4,5.6,5,0],[100,3.09,3,6,6.5,7.7,8.5,2,8.0,6]

tabel = pd.DataFrame({'kolom0': nol,
'kolom1': satu})
tabel

    kolom0  kolom1
1      1.0  100.00
2      3.0    3.09
3      5.2    3.00
4     -2.0    6.00
5     99.0    6.50
6      3.4    7.70
7      3.4    8.50
8      5.6    2.00
9      5.0    8.00
10     0.0    6.00

9. Buatlah plot data dari **spesifik dataframe** yang ada di nomer 8. NIM Ganjil : header 1, NIM Genap :header 0

10. Tambahkan satu kolom dari hasil perhitungan rumus masing-masing tipe NIM. NIM Genap: kolom1<sup>2</sup> +kolom1, NIM Ganjil: kolom2 +kolom1<sup>2</sup>

11. Buat data series dari array yang dibuat dan beri nama.

In [44]:
jumlah = {'Probolinggo': 2125151,
'Malang': 17171713,
'Pasuruan': 1616161,
'Jekarteh': 74748,
'Blitar': 984584}
population = pd.Series(jumlah)
population

Probolinggo     2125151
Malang         17171713
Pasuruan        1616161
Jekarteh          74748
Blitar           984584
dtype: int64

12. Buat satu data series lagi, kemudian gabungkan data series tersebut dengan data series sebelumnya sehingga membuat satu data frame. Kemudian buat Excel dari data frame tersebut.

In [46]:
wil = {'Probolinggo': 123131, 'Malang': 1412512, 'Pasuruan': 12717141,
'Jekarteh': 5151, 'Blitar': 717171}
area = pd.Series(wil)
area

Probolinggo      123131
Malang          1412512
Pasuruan       12717141
Jekarteh           5151
Blitar           717171
dtype: int64

13. Upload data Excel yang disediakan di LMS dengan menggunakan pandas.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plot

pdFromCSV = pd.read_excel("Fish.xlsx")
pdFromCSV

     Weight  Length1  Length2  Length3   Height   Width Species
0     242.0     23.2     25.4     30.0  11.5200  4.0200   Bream
1     290.0     24.0     26.3     31.2  12.4800  4.3056   Bream
2     340.0     23.9     26.5     31.1  12.3778  4.6961   Bream
3     363.0     26.3     29.0     33.5  12.7300  4.4555   Bream
4     430.0     26.5     29.0     34.0  12.4440  5.1340   Bream
..      ...      ...      ...      ...      ...     ...     ...
154    12.2     11.5     12.2     13.4   2.0904  1.3936   Smelt
155    13.4     11.7     12.4     13.5   2.4300  1.2690   Smelt
156    12.2     12.1     13.0     13.8   2.2770  1.2558   Smelt
157    19.7     13.2     14.3     15.2   2.8728  2.0672   Smelt
158    19.9     13.8     15.0     16.2   2.9322  1.8792   Smelt

[159 rows x 7 columns]

14. Berapa jumlah data (jumlah row) dari data diatas.

15. Tampilkan semua header excel dari data diatas.

16. Siapkan data yang digunakan untuk dijalankan di training di Machine Learning, dimana x = Fitur dan y = lebel.

### Soal Tambahan

Ubah species string menjadi column integer dengan menggunakan LabelEncoder pada sklearn.preprocessing, lalu buat 2 ploting dimana sumbu x merupakan Height atau Width dan Y merupakan  jenis ikannya (species).